*{
    box-sizing: border-box;
}
@font-face{
    font-family: "vazir bold";
    src: url("./fonts/ttf/Vazir-bold.ttf"),
    url("./fonts/woff/Vazir-bold.woff2");
}
html{
    background-image: url("./images/btc.jpeg");
    background-size: 100%;
    background-repeat: no-repeat center;
    background-size: 300%;
}

body{
    font-size: 20px;
    font-family: "vazir bold";
    max-width: 800px;
}

.box1{
color: rgb(255, 255, 255);
    padding: 4%;
    border-radius: 40px;
    background-color: rgb(240, 167, 167);
    background-image: url("./images/پس-زمینه-سایه-دار-سیاه.jpg");
    background-repeat: no-repeat center;
    background-position: center;
    background-size: 300%;
    

}
.box2{
    color: white;
    background-color: aqua;
    border-radius: 40px;
    padding: 4%;
    margin-top: 10px;
    background-image: url("./images/پس-زمینه-سایه-دار-سیاه.jpg");
    background-repeat: no-repeat center;
    background-position: center;
    background-size: 300%
}
.footer{
    background-color: rgb(104, 236, 236);
    border-radius: 40px;
    padding: 4%;
    margin-top: 10px;
    
}
h1,h2,h3,h4{
   border-right:solid 10px black;
   padding: 2%;
   color: aqua;
   
}
.footer{ 
    color: yellow;
    background-image: url("./images/پس-زمینه-سایه-دار-سیاه.jpg");
    background-repeat: no-repeat center;
    background-position: center;
    background-size: 300%
}
.hov:hover{
   color: blueviolet;
}


